@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

/* Start Landing */
main {
  position: relative;
  width: 100%;
  height: 100vh;
  @include centeringElement();
  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .holder-imgs {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-wrap: nowrap;
      width: calc(100% * 3);
      height: 100%;
      .img {
        position: relative;
        width: 100vw;
        background: {
          size: cover;
          position: center;
          attachment: fixed;
        }
        &:nth-child(1) {
          background-image: url("../../../imgs/landing1.jpg");
          transition: 1s;
        }
        &:nth-child(2) {
          background-image: url("../../../imgs/landing2.jpg");
        }
        &:nth-child(3) {
          background-image: url("../../../imgs/landing3.jpg");
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #00000059;
        }
      }
    }
    .shares {
      @include centeringWithPosition(absolute);
      z-index: 1;
      width: 80%;
      display: flex;
      justify-content: space-between;
      @include mediaXsmall(max-width) {
        width: 92%;
      }
      .arrow {
        cursor: pointer;
        color: #13ecd666;
        transition: 0.3s;
        @include mediaXsmall(min-width) {
          padding: 10px;
        }
        @include mediaXsmall(max-width) {
          width: 13px;
        }
        @include deleteHover {
          &:hover {
            color: $greenColor;
          }
        }
        &:active {
          transform: translateY(50%);
          color: $greenColor;
        }
      }
    }
    .bullets {
      position: absolute;
      bottom: 80px;
      width: 100%;
      display: flex;
      justify-content: center;
      span {
        position: relative;
        width: 20px;
        height: 20px;
        border: 3px solid $greenColor;
        border-radius: 50%;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 20px;
        }
        &::before {
          content: "";
          @include centeringWithPosition(absolute);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          opacity: 0;
          background-color: $greenColor;
          transition: 0.3s;
        }
        @include deleteHover {
          &:hover::before {
            opacity: 1;
          }
        }
      }
      .active::before {
        opacity: 1;
      }
    }
  }
  .container {
    @include centeringWithPosition(absolute);
    width: fit-content;
    text-align: center;
    h1 {
      font: {
        size: 56px;
        weight: 900;
      }
      color: $greenColor;
      margin-bottom: 20px;
      @include mediaXsmall(max-width) {
        font-size: 40px;
        margin-bottom: 5px;
      }
    }
    p {
      font-size: 20px;
      line-height: 1.8;
      color: #ffffffb3;
      @include mediaXsmall(max-width) {
        font-size: 16px;
        padding: 12px;
      }
    }
  }
}
/* End Landing */

/* Start Section */
.section {
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    .box {
      width: calc((100% - 80px) / 3);
      background-color: #ffffff;
      box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
      transition: 0.3s;
      @include mediaLarge(max-width) {
        width: calc((100% - 40px) / 2);
        &:last-child {
          width: 100%;
        }
      }
      @include mediaMedium(max-width) {
        width: 100%;
      }
      @include box();
      @include icon(".i");
      @include text("h2", "p");
    }
  }
}
/* End Section */

/* Start Services */
.services {
  .container {
    gap: 40px;
    @include centeringElement();
    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
      @include mediaMedium(max-width) {
        grid-template-columns: 1fr;
      }
      .box {
        @include box();
        box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
        @include mediaLarge(min-width) {
          display: flex;
          gap: 30px;
          text-align: left;
          max-width: 600px;
        }
        .i {
          height: 30px;
          font-size: 40px;
        }
        @include icon(".i");
        @include text("h2", "p");
      }
    }
  }
}
/* End Services */

/* Start Portfoli */
.portfolio {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    @include mediaLarge(max-width) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mediaMedium(max-width) {
      grid-template-columns: repeat(1, 1fr);
    }
    .box {
      background-color: #fff;
      border-radius: 6px;
      box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
      overflow: hidden;
      &:last-child {
        @media (min-width: #{$medium}) and (max-width: #{$large}) {
          grid-column: 1 / span 2;
        }
      }
      .holder-img {
        img {
          max-width: 100%;
        }
      }
      footer {
        padding: 20px;
        @include text("h2", "p");
      }
    }
  }
}
/* End Portfoli */
